<!DOCTYPE html>
<html>
<head>
    <title>選定特定店家</title>
</head>
<body>
    <ul>
        <li><a href="{{ url_for('show_shoppingStore', phone_number = phone_number) }}">購物</a></li>
        <li><a href="{{ url_for('show_buyer_orderOutline', phone_number = phone_number) }}">訂購紀錄一覽</a></li>
    </ul>
    <h1>常用店家</h1>
    <ul>
        {% for store in frequently_used_stores %}
        <li>
            {{ store.branch_name }} - 電話：{{ store.phone_number }}，營業時間：{{ store.business_hours }}，地址：{{ store.address }}
            <a href="/purchase/{{ phone_number }}/{{ store.branch_name }}">查看商品</a>
        </li>
        {% endfor %}
    </ul>

    <h1>所有店家</h1>
    <ul>
        {% for store in all_stores %}
            <li>
                {{ store.branch_name }} - 電話：{{ store.phone_number }}，營業時間：{{ store.business_hours }}，地址：{{ store.address }}
                <a href="/purchase/{{ phone_number }}/{{ store.branch_name }}">查看商品</a>
            </li>
        {% endfor %}
    </ul>
    <a href="/{{ phone_number }}/shoppingCart">查看購物車</a>
</body>
</html>
