<!DOCTYPE html>
<html>
    <head>
       <meta charset="UTF-8"></meta>
       <title>在商店內選購物品</title>
       <style>
           table{
               width: 100%;
               text-align: center;
               border-collapse: collapse;
           }
           th, td{
               border: 1px solid black;
               padding: 8px;
           }
           th{
               background-color: #EEEEEE;
           }
       </style>
    </head>
    <body>
      <ul>
          <li><a href="{{ url_for('show_shoppingStore', phone_number = phone_number) }}">所有店家</a></li>
          <li><a href="{{ url_for('show_buyer_orderOutline', phone_number = phone_number) }}">訂購紀錄</a></li>
          <li><a href="{{ url_for('render_shoppingCart', phone_number = phone_number) }}">購物車</a></li>
      </ul>
      <hr>
      
     <h1>店家基本資訊</h1>
     <p>店名: {{store.branch_name}}</p>
     <p>電話: {{store.phone_number}}</p>
     <p>營業時間: {{store.business_hours}}</p>
     <p>地址: {{store.address}}</p>
     
     <style>
      .button-container {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
      }
      
      .button-container button {
          margin-right: 5px;
      }
  </style>
  <div class="button-container">
      {% if is_favorite %} <!-- 0619 -->
        <form method="POST" action="{{ url_for('removeFromFavorites') }}">
          <input type="hidden" name="phone_number" value="{{ phone_number }}">
          <input type="hidden" name="branch_name" value="{{ branch_name }}">
          <button type="submit" id="remove-favorite-btn">從常用店家刪除</button>
        </form>
      {% else %}
        <form method="POST" action="{{ url_for('addToFavorites') }}">
          <input type="hidden" name="phone_number" value="{{ phone_number }}">
          <input type="hidden" name="branch_name" value="{{ branch_name }}">
          <button type="submit" id="add-favorite-btn">加入常用店家</button>
        </form>
      {% endif %}
      
      <form action="{{ url_for('show_reviews', phone_number = phone_number, branch_name = branch_name) }}">
        <button id="reviewsBtn">查看店家評論</button>
      </form>
     
     <form action="{{ url_for('render_shoppingCart', phone_number = phone_number) }}">
      <button id="shoppingCartBtn">查看購物車</button>
     </form>

     <!-- <form action="/shoppingstore" method="get"> -->
     <form action="{{ url_for('show_shoppingStore', phone_number = phone_number) }}">
      <button id="shoppingstoreBtn">回到店家一覽</button>
     </form>   
   </div>  
     <hr/>
     <form method="POST" action="{{ url_for('order') }}">
      {% if leftover_products %}
      <table>
        <thead>
          <tr>
            <th></th>
            <th>商品編號</th>
            <th>賞味期限</th>
            <th>商品名稱</th>
            <th>剩餘數量</th>
            <th>價格</th>
            <th>商品介紹</th>
          </tr>
        </thead>
        <tbody>
          {% for leftover_product in leftover_products %}
          <tr>
            <td>
              <input type="checkbox" name="leftover_product" value="{{ leftover_product.product_code }}">
            </td>
            <td>{{leftover_product.product_code}}</td>
            <td>{{leftover_product.expiration_date}}</td>
            <td>{{leftover_product.product_name}}</td>
            <td>{{leftover_product.quantity_in_stock}}</td>
            <td>{{leftover_product.price}}</td>
            <td>{{leftover_product.product_description}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <br>
      <input type="hidden" name="phone_number" value="{{ phone_number }}">
      <input type="hidden" name="branch_name" value="{{ branch_name }}">
      <button id="orderBtn">加入購物車</button>
      {% else %}
         {{message}}
      {% endif %}   
      <br/>
    </form>
    </body>
</html>