<!DOCTYPE html>
<html>

<head>
  <title>購物車</title>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }

    th,
    td {
      border: 1px solid black;
      padding: 8px;
    }
  </style>
</head>

<body>
  <ul>
      <li><a href="{{ url_for('show_shoppingStore', phone_number = phone_number) }}">所有店家</a></li>
      <li><a href="{{ url_for('show_buyer_orderOutline', phone_number = phone_number) }}">訂購紀錄</a></li>
      <li><a href="{{ url_for('render_shoppingCart', phone_number = phone_number) }}">購物車</a></li>
  </ul>
  <hr>

  <h2>購物車</h2>

  <p style="text-align: center;">
    <form action="{{ url_for('shoppingCart', phone_number = phone_number, action = 'submit_cart') }}" method="POST">
      <table>
        <thead>
          <tr>
            <th>商店名稱</th>
            <th>產品代號</th>
            <th>品名</th>
            <th>單價</th>
            <th>購買數量</th>
          </tr>
        </thead>
        <tbody>
          {% for i in range(len) %}
          <tr>
            <td>{{ order_item_info[i].branch_name }}</td>
            <td>{{ order_item_info[i].product_code }}</td>
            <td>{{ order_item_info[i].product_name }}</td>
            <td>{{ order_item_info[i].price|int }}</td>
            <td>
              <input type="number" name="quantity_ordered_{{ order_item_info[i].branch_name }}_{{ order_item_info[i].product_code }}" value="{{ order_item[i].quantity_ordered }}" min="0" max="{{ order_item_info[i].quantity_in_stock}}" step="1">
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <br>
      <button style="font-weight: bold; font-size: 20px;">確認送出訂單</button>
    </form>
  </p>

  <p style="text-align: right;">
    <form action="{{ url_for('shoppingCart', phone_number = phone_number, action = 'clear_cart') }}" method="POST">
      <button>清空購物車</button>
    </form>
  </p>
 


</body>

</html>