<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>進行中訂單</title>
    <style>
        table {
            width: 50%;
            text-align: center;
            border-collapse: collapse;
        }

        th,
        td {
            border: 1px solid black;
            padding: 8px;
        }

        th {
            background-color: #EEEEEE;
        }
    </style>
</head>

<body>
    <ul>
        <li><a href="{{ url_for('show_leftoverProduct', branch_name = branch_name) }}">商品列表</a></li>
        <li><a href="{{ url_for('show_branch_orderOutline', branch_name = branch_name) }}">進行中訂單</a></li>
        <li><a href="{{ url_for('show_branch_history_orders', branch_name = branch_name) }}">歷史訂單</a></li>
        <li><a href="{{ url_for('show_report', branch_name = branch_name )}}">產生報表</a></li>
    </ul>
    <hr>
    
    <h1>進行中訂單</h1>
    <!-- order outline list -->
    <table>
        <thead>
            <tr>
                <th>訂單編號</th>
                <th>訂單時間</th>
                <th>狀態</th>
            </tr>
        </thead>
        <tbody>
            {% for order in order_list %}
            <tr>
                <td>
                    <form action="{{ url_for('show_seller_orderDetail', branch_name = branch_name, order_number = order.order_number) }}">
                        <input type="submit" value="{{ order.order_number }}" />
                    </form>
                </td>
                <td>{{ order.order_time }}</td>
                <td>{{ order.order_status}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>