<!DOCTYPE html>
<html>

<head>
    <title>歷史訂單</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
    </style>
</head>

<body>
    <ul>
        <li><a href="{{ url_for('show_leftoverProduct', branch_name = branch_name) }}">商品列表</a></li>
        <li><a href="{{ url_for('show_branch_orderOutline', branch_name = branch_name) }}">進行中訂單</a></li>
        <li><a href="{{ url_for('show_branch_history_orders', branch_name = branch_name) }}">歷史訂單</a></li>
        <li><a href="{{ url_for('show_report', branch_name = branch_name )}}">產生報表</a></li>
    </ul>
    <hr>
    
    <h1>歷史訂單</h1>

    <table>
        <thead>
            <tr>
                <th>訂單編號</th>
                <th>訂單時間</th>
                <th>買家電話</th>
                <th>買家姓名</th>
                <th>商品編號</th>
                <th>價格</th>
                <th>數量</th>
            </tr>
        </thead>
        <tbody>
            {% for order_item, order, buyer_name in merged_data %}
            <tr>
                <td>
                    <form action="{{ url_for('show_seller_orderDetail', branch_name = branch_name, order_number = order.order_number) }}">
                        <input type="submit" value="{{ order.order_number }}"/>
                    </form>
                </td>
                <td>{{ order.order_time }}</td>
                <td>{{ order.phone_number }}</td>
                <td>{{ buyer_name }}</td>
                <td>{{ order_item.product_code }}</td>
                <td>{{ order_item.item_price }}</td>
                <td>{{ order_item.quantity_ordered }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>