<!DOCTYPE html>
<html>

<head>
    <style>
        table {
            width: 50%;
            text-align: center;
            border-collapse: collapse;
        }

        th,
        td {
            border: 1px solid black;
            padding: 10px;
        }

        th {
            background-color: #EEEEEE;
        }
    </style>
</head>

<body>
    <h2></h2>
    <form action="/storeReport" method="post">
        <label for="branch_name" style="font-size: 20px;">分店名稱 [closing time]:</label>
        <select name="branch_name" id="branch_name" style="font-size: 16px;">
            <option value="Daan Store">Daan Store [22:00:00]</option>
            <option value="Zhongxiao Store">Zhongxiao Store [21:00:00]</option>
            <option value="Xinyi Store">Xinyi Store [20:00:00]</option>
            <option value="Zhongshan Store">Zhongshan Store [19:00:00]</option>
            <option value="Songshan Store">Songshan Store [22:00:00]</option>
            <option value="Shinkuchan Store">Shinkuchan Store [21:00:00]</option>
            <option value="Nandu Store">Nandu Store [20:00:00]</option>
            <option value="Zhongxing Store">Zhongxing Store [19:00:00]</option>
            <!-- Add more options as needed -->
        </select>

        <label for="datetime" style="font-size: 20px;">下架時間:</label>
        <input type="text" id="datetime" name="datetime" placeholder="YYYY-MM-DD HH:MM:SS" style="font-size: 16px;">
        <input type="submit" value="查詢">
    </form>

    <br><br>

    <h1>下架剩食表</h1>
    <table>
        <thead>
            <tr>
                <th>分店名稱</th>
                <th>產品代號</th>
                <th>下架時間</th>
                <th>下架數量</th>
            </tr>
        </thead>
        <tbody>
            {% for leftover_history in leftover_history_list %}
            <tr>
                <td style="font-size: 17px;">{{ leftover_history.branch_name }}</td>
                <td style="font-size: 17px;">{{ leftover_history.product_code }}</td>
                <td style="font-size: 17px;">{{ leftover_history.removal_time}}</td>
                {% if leftover_history.quantity_removed > 0 %}
                <td style="font-size: 18px; color: rgba(255, 0, 0, 0.764); font-weight: bold;">{{
                    leftover_history.quantity_removed }}</td>
                {% else %}
                <td style="font-size: 14px; color: black;">{{ leftover_history.quantity_removed }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>