<!DOCTYPE html>
<html>

<head>
    <title>店家報表生成</title>
    <style>
        table {
            width: 50%;
            text-align: center;
            border-collapse: collapse;
        }

        th,
        td {
            border: 1px solid black;
            padding: 10px;
        }

        th {
            background-color: #EEEEEE;
        }
    </style>
</head>

<body>
    <ul>
        <li><a href="{{ url_for('show_leftoverProduct', branch_name = branch_name) }}">商品列表</a></li>
        <li><a href="{{ url_for('show_branch_orderOutline', branch_name = branch_name) }}">進行中訂單</a></li>
        <li><a href="{{ url_for('show_branch_history_orders', branch_name = branch_name) }}">歷史訂單</a></li>
        <li><a href="{{ url_for('show_report', branch_name = branch_name )}}">產生報表</a></li>
    </ul>
    <hr>
    
    <h2>{{ branch_name }}</h2>
    <form action="{{ url_for('show_report', branch_name = branch_name) }}" method="post">
        <!-- <label for="branch_name" style="font-size: 20px;">分店名稱 [closing time]:</label>
        <select name="branch_name" id="branch_name" style="font-size: 16px;">
            <option value="Daan Store">Daan Store [22:00:00]</option>
            <option value="Zhongxiao Store">Zhongxiao Store [21:00:00]</option>
            <option value="Xinyi Store">Xinyi Store [20:00:00]</option>
            <option value="Zhongshan Store">Zhongshan Store [19:00:00]</option>
            <option value="Songshan Store">Songshan Store [22:00:00]</option>
            <option value="Shinkuchan Store">Shinkuchan Store [21:00:00]</option>
            <option value="Nandu Store">Nandu Store [20:00:00]</option>
            <option value="Zhongxing Store">Zhongxing Store [19:00:00]</option>
        </select> -->

        <label for="datetime" style="font-size: 20px;">
            下架時間:
            <span style="font-size: 14px; color: gray;">
                請輸入年月日加上該分店打烊時間(時分秒)
            </span>
        </label>
        <input type="text" id="datetime" name="datetime" placeholder="YYYY-MM-DD HH:MM:SS" style="font-size: 16px;">
        <input type="submit" value="查詢">
    </form>

    <br><br>

    <h1>下架剩食表</h1>
    <table>
        <thead>
            <tr>
                <th>分店名稱</th>
                <th>產品代號</th>
                <th>下架時間</th>
                <th>下架數量</th>
            </tr>
        </thead>
        <tbody>
            {% for leftover_history in leftover_history_list %}
            <tr>
                <td style="font-size: 17px;">{{ leftover_history.branch_name }}</td>
                <td style="font-size: 17px;">{{ leftover_history.product_code }}</td>
                <td style="font-size: 17px;">{{ leftover_history.removal_time}}</td>
                {% if leftover_history.quantity_removed > 0 %}
                <td style="font-size: 18px; color: rgba(255, 0, 0, 0.764); font-weight: bold;">{{
                    leftover_history.quantity_removed }}</td>
                {% else %}
                <td style="font-size: 14px; color: black;">{{ leftover_history.quantity_removed }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>
